= simple_form_for(@service) do |f|
  = f.error_notification

  .form-inputs

    = f.association :service_name

    = f.input :event_quantity

    = f.input :event_length, collection: [45, 60, 75, 90, 105, 120], selected: 60

    = f.input :uprice

    = f.input :gprice

    = f.input :gtype, collection: ["manager", "group", "individual"]

    = f.input :ctype, collection: ["ad", "ch", "mix"]

    = f.input :is_active


  .form-actions
    = f.button :submit
