= simple_form_for ([:admin, @guest]) do |f|
  = f.error_notification
  = f.button :submit, class: "btn btn-info add-button"
  %p
    .form-inputs
      = f.input :email
      .bg-danger
        = f.input :password
      = f.input :first_name
      = f.input :second_name
      = f.input :last_name
      = f.input :birthday
      = f.input :sex
      = f.input :address
      = f.input :photo
      = f.input :active
      = f.input :lead_source_id




