- set_var 'events', @events.map{|e| {title: e.room.office.name  + " " + e.room.name + " " + e.user.email, start: e.starts_at, end: e.ends_at, url: admin_event_group_path(e.event_group)}}
.col-md-4
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"}
            %b My info
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          .text-center
            = link_to '', edit_admin_guest_path(@guest), class: 'btn2b'
          %p
            %b Email:
            = @guest.email
          %p
            %b First name:
            = @guest.first_name
          %p
            %b Second name:
            = @guest.second_name
          %p
            %b Last name:
            = @guest.last_name
          %p
            %b Bday:
            = @guest.birthday
          %p
            %b Sex:
            = @guest.sex
          %p
            %b Address:
            = @guest.address
          %p
            %b Photo:
            = @guest.photo
          %p
            %b Active?:
            = @guest.active
          %p
            %b Lead source:
            = @guest.lead_source_id
          %p.bg-danger
            %b Пользователи и преподаватели видят только свой баланс
          %p
            %b Я отучился на, UAH:
            = @totalduepaymentguest
          %p.bg-danger
            %b Я заплатил, UAH:
          %p.bg-danger
            %b Я должен заплатить, UAH:
          %p.bg-danger
            %b Total services provided, q:
            = Attendance.count(:id)
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseComment"}
            %b Comments
      #collapseComment.panel-collapse.collapse.in
        .panel-body
          = simple_form_for [:admin, @comment] do |f|
            = f.input :guest_id, input_html: {value: @guest.id}, as: :hidden
            .input-group
              = f.input :text, placeholder: "New comment", label: false
              %span.input-group-btn
                = f.button :submit, 'add'
          %br
          %table.table
            %tbody
              - @comments.each do |comment|
                %tr
                  %td= comment.text
                  %td= link_to '', [:admin, comment], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del'
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseFour"}
            %b Support
      #collapseFour.panel-collapse.collapse.in
        .panel-body
          %p.bg-danger
            %b Terms & conditions:
          %p.bg-danger
            %b Attendance types:
          %p.bg-danger
            %b Payment:
          %p.bg-danger
            %b New lessons:
.col-md-8
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseThree"}
            %b My calendar
      #collapseThree.panel-collapse.collapse.in
        .panel-body
          %div#calendar
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseTwo"}
            %b My events
      #collapseTwo.panel-collapse.collapse.in
        .panel-body
          %table#table1
            %thead
              %tr
                %th Starts at
                %th Duration
                %th Room
                %th Teacher
                %th Event group
                %th Lesson price
                %th Attended?
                %th To pay
            %tbody
              - @attendances.each do |attendance|
                %tr
                  %td= attendance.event.starts_at
                  %td= attendance.event.event_group.service.event_length
                  %td= attendance.event.room
                  %td= attendance.event.user
                  %td= attendance.event.event_group
                  %td= attendance.event.event_group.service.gprice
                  %td= attendance.attendance_rate.name
                  %td= attendance.duepayment
          %br
