%h1
  Total expences:
  = Expence.sum(:amount)

%h1 Listing expences

%table
  %thead
    %tr
      %th Amount
      %th Description
      %th User
      %th
      %th
      %th

  %tbody
    - @expences.each do |expence|
      %tr
        %td= expence.amount
        %td= expence.description
        %td= expence.user
        %td= link_to 'Show', [:admin, expence]
        %td= link_to 'Edit', edit_admin_expence_path(expence)
        %td= link_to 'Destroy', [:admin, expence], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Expence', new_admin_expence_path

