#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %b
          All expences:
          = Expence.sum(:amount)
    .panel-collapse.collapse.in
      .panel-body
        = link_to 'New Expence', new_admin_expence_path, class: 'btn btn-success btn-xs'
        %p
        %table#table1
          %thead
            %tr
              %th Amount
              %th Description
              %th User
              %th Created at
              %th
              %th
          %tbody
            - @expences.each do |expence|
              %tr
                %td= expence.amount
                %td= expence.description
                %td= expence.user
                %td= expence.created_at
                %td= link_to '', [:admin, expence], class: 'btn1search'
                %td= link_to '', [:admin, expence], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del'

%br
