- set_var 'events', @events.map{|e| {title: e.room.office.name  + " " + e.room.name + " " + e.user.email, start: e.starts_at, end: e.ends_at, url: event_group_path(e.event_group)}}
%p
#accordion.panel-group.col-md-12
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"}
          %b Balance sheet
    #collapseOne.panel-collapse.collapse.in
      .panel-body
        .col-md-3
          %h4 Income
          Total services provided, price:
          %b= @totalduepayment
          %br
          Total cash received: (all client payments)
          %br
          Accounts receivable: (minus balances of clients)
        .col-md-3
          %h4 Outcome
          Totall expences (price of users+rooms):
          %b= @totaldueexpence
          %br
          Totally cash paid:
          %b= Expence.sum(:amount)
          %br
          Accounts payable:
          %b= (-1)*(Expence.sum(:amount)-@totaldueexpence)
        .col-md-3
          %h4 Incasations?
          Total cash incasated: - is it profit or not yet?
          %b= CashCollection.sum(:amount)
          %br
          Total Cash not incasated:
          %b All Payments?
        .col-md-3
          %h4 Key figures
          Total group quantity
          = EventGroup.count(:id)
          %br
            .bg-danger
              Total event quantity
              = Event.count(:id)
              %br
              Must-be event quantity
          %br
          Total client quantity
          = Guest.count(:id)
          %br
          Total user quantity
          = User.count(:id)
          %br
          Total attendance quantity
          = Attendance.count(:id)
          %br
          Total TODO attendance quantity
.col-md-4
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseThree"}
          %b All tasks  
    #collapseThree.panel-collapse.collapse.in
      .panel-body
        = link_to 'Mark attendances', tasks_attendances_path, class: 'btn btn-success'
        %h4 Dashboard#index of Admin
        %p Find me in app/views/dashboard/index.html.haml
.col-md-8
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseTwo"}
          %b General calendar
    #collapseTwo.panel-collapse.collapse.in
      .panel-body
        %div#calendar
