- set_var 'events', @events.map{|e| {title: e.room.office.name  + " " + e.room.name + " " + e.user.email, start: e.starts_at, end: e.ends_at, url: edit_event_path(e)}}
%br
  %div#calendar

%h1 Dashboard#index
%p This will be your favorite page
%h4
.col-md-4
  %h2 Income
  Total services provided, price:
  %b= @totalduepayment
  %br
  Total cash received: (all client payments)
  %br
  Accounts receivable: (minus balances of clients)
.col-md-4
  %h2 Outcome
  Totall expences (price of users+rooms):
  %b= @totaldueexpence
  %br
  Totally cash paid:
  %b= Expence.sum(:amount)
  %br
  Accounts payable:
  %b= (-1)*(Expence.sum(:amount)-@totaldueexpence)
.col-md-4
  %h2 Incasations?
  Total cash incasated: - is it profit or not yet?
  %b= CashCollection.sum(:amount)
  %br
  Total Cash not incasated:
  %b All Payments?