</div>
.container-fluid
  .jumbotron#jumbotronhead.container-fluid.col-md-6
    %h1 Nextep
    %p We do the routine
    %p you can focus on GROWTH!
    %p= link_to 'Lear more', root_path, class: 'btn btn-success btn-lg active'
  .col-md-6
    .embed-responsive.embed-responsive-16by9
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "458", :src => "https://www.youtube.com/embed/I0PCsnHzX2M", :width => "815"}
  .row
  %h1.text-center
    Development progress:
    %b 70% complete
  .row
  .progress.container
    .progress-bar.progress-bar-success.active{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: 70%"}
      %span.sr-only 45% Complete

  .row
  .col-md-4.thumbnail
    %img{:alt => "150x150", :src => "..."}
      .caption
        %h3 Thumbnail label
        %p you can focus on GROWTH!
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-md-4.thumbnail
    %img{:alt => "150x150", :src => "..."}
      .caption
        %h3 Thumbnail label
        %p you can focus on GROWTH!
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-md-4.thumbnail
    %img{:alt => "150x150", :src => "..."}
      .caption
        %h3 Thumbnail label
        %p you can focus on GROWTH!
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button
  .row
  .col-md-4.jumbotron#jumbotronservices.text-center.thumbnail
    %h2 SPA's & saloons
    %p Event sales & calendar
    %p= link_to 'Lear more', root_path, class: 'btn btn-success btn-lg active'
  .col-md-4.jumbotron#jumbotronservices.text-center
    %h2 Language courses
    %p Attendances
    %p= link_to 'Lear more', root_path, class: 'btn btn-success btn-lg'
  .col-md-4.jumbotron#jumbotronservices.text-center
    %h2 Brick & mortar
    %p Accounting
    %p= link_to 'Lear more', root_path, class: 'btn btn-success btn-lg'
  .row
  %h1.text-center Our clients
  .row
  %ul.nav.nav-pills{:role => "tablist"}
    %li.active.btn-lg{:role => "presentation"}
      %a{:href => root_path}

        Companies running the ERP
        %span.badge
          = Company.count(:id)
  .row
  %h1.text-center Prices
  .row
  .table-responsive.container
    %table.table.table-striped
      %thead
        %tr
          %th 
          %th Free
          %th Startup
          %th Growing business
          %th Enterprise
      %tbody
        %tr
          %td Offices
          %td 1
          %td 1
          %td 10
          %td 10+
        %tr
          %td Users
          %td -
          %td -
          %td -
          %td -
        %tr
          %td Clients
          %td -
          %td -
          %td -
          %td -
  .row
  %h1.text-center Features
  .row
  .col-sm-6
    .embed-responsive.embed-responsive-16by9
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "458", :src => "https://www.youtube.com/embed/I0PCsnHzX2M", :width => "815"}
  .col-sm-6
    .embed-responsive.embed-responsive-16by9
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "458", :src => "https://www.youtube.com/embed/I0PCsnHzX2M", :width => "815"}
  .row
  %h1.text-center Pricing
  .row
    .col-sm-6.col-md-4
      .thumbnail
        %img{:alt => "199", :src => "100"}
          .caption
            %h3 Thumbnail label
            %p ...
            %p
              %a.btn.btn-primary{:href => "#", :role => "button"} Button
              %a.btn.btn-default{:href => "#", :role => "button"} Button
  .row
  %h1.text-center Contacts
  .row
  .panel.panel-default
    / Default panel contents
    .panel-heading Panel heading
    .panel-body
      %p ...
    / Table
    %table.table
      \...