= simple_form_for @event_group do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :status, collection: [ "active", "forming", "finished"], selected: "forming"
    = f.input :service_id
    = f.association :attr1
    = f.association :attr2
    = f.association :attr3
  .form-actions.pull-right
    = f.button :submit, class: "btn btn-success add-button"
  %h3 Events
  #tasks
    = f.simple_fields_for :events do |event|
      = render 'event_fields', f: event
    .links
      %p
      = link_to_add_association 'Add event', f, :events, class: "btn btn-primary add-button"
