%h1 Listing event_groups
.well
  %h3 Advanced search
  = search_form_for @q do |f|
    = f.condition_fields do |c|
      .field
        = c.attribute_fields do |a|
          = a.attribute_select associations: [:attr1, :attr2, :attr3]
        = c.predicate_select
        = c.value_fields do |v|
          = v.text_field :value
    .actions 
      = f.submit "search", class: "btn btn-success"
      = link_to "Clear filters", event_groups_path, class: "btn btn-default"
= link_to "Clear filters", event_groups_path, class: "btn btn-default"
%table.table.table-hover.table-condensed.table-responsive
  %thead
    %tr
      %th= sort_link @q, :name, "Name"
      %th= sort_link @q, :status, "Status"
      %th Service
      %th= sort_link @q, :attr1_id, "Attr1"
      %th= sort_link @q, :attr2_id, "Attr1"
      %th= sort_link @q, :attr3_id, "Attr1"
      %th
      %th
      %th
  %tbody
    %tr
    = search_form_for @q do |f|
      %th
        = f.label :name_cont, "contains"
        = f.text_field :name_cont
      %th
        = f.text_field :status_cont
      %th 
      %th 
      %th 
      %th 
      %th
      %th
      %th
      = f.submit "Search", class: "btn btn-success"
  %tbody
    - @event_groups.each do |event_group|
      %tr
        %td= event_group.name
        %td= event_group.status
        %td= event_group.service_id
        %td= event_group.attr1
        %td= event_group.attr2
        %td= event_group.attr3
        %td= link_to '', event_group, class: 'btn btn-mini btn-success glyphicon glyphicon-search'
        %td= link_to '', edit_event_group_path(event_group), class: 'btn btn-mini btn-warning glyphicon glyphicon-pencil'
        %td= link_to '', event_group, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger glyphicon glyphicon-trash'

%br

= link_to 'New Event group', new_event_group_path
%button.btn.btn-primary.btn-lg{"data-target" => "#myModal1", "data-toggle" => "modal", :type => "button"}
  Add event group
/ Modal

#myModal1.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Set a task
      .modal-body
        .add-post

          = simple_form_for @event_group do |f|
            = f.error_notification
            .form-inputs
            .col-sm-4
              = f.input :name
            .col-sm-4
              = f.input :status, collection: [ "active", "forming", "finished"], selected: "forming"
            .col-sm-4
              = f.input :service_id
            .col-sm-4
              = f.association :attr1
            .col-sm-4
              = f.association :attr2
            .col-sm-4
              = f.association :attr3
            = f.button :submit, class: "btn btn-info add-button"
            %p
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close




