%h1
  Groups
= link_to 'New Event group', new_event_group_path, class: "btn btn-success add-button "
%button.btn.btn-default{"data-target" => "#demo", "data-toggle" => "collapse", :type => "button"}
  Advanced search
= link_to '', event_groups_path, class: "btn btn-default glyphicon glyphicon-refresh"
#demo.collapse
  %p
  = search_form_for @q do |f|
    = f.condition_fields do |c|
      .field
        = c.attribute_fields do |a|
          = a.attribute_select associations: [:attr1, :attr2, :attr3, :service]
        = c.predicate_select
        = c.value_fields do |v|
          = v.text_field :value
    .actions
      = f.submit "Search", class: "btn btn-success"
%p
%table.table.table-hover.table-condensed.table-responsive
  %thead
    %tr
      %th= sort_link @q, :name, "Name"
      %th= sort_link @q, :service_id, "Service"
      %th= sort_link @q, :attr1_id, "Attr1"
      %th= sort_link @q, :attr2_id, "Attr2"
      %th= sort_link @q, :attr3_id, "Attr3"
      %th= sort_link @q, :status, "Status"
      %th= sort_link @q, :service_id, "Gtype"
      %th
      %th
      %th
  %tbody
    %tr
    = search_form_for @q do |f|
      %th
        = f.text_field :name_cont, class: "form-control", placeholder: "find", style: 'float: left; width: 60%; display: block', autofocus: true
      %th 
      %th
        = f.text_field :attr1_name_cont, class: "form-control", placeholder: "find", style: 'float: left; width: 60%; display: block'
      %th 
        = f.text_field :attr2_name_cont, class: "form-control", placeholder: "find", style: 'float: left; width: 60%; display: block'
      %th 
        = f.text_field :attr3_name_cont, class: "form-control", placeholder: "find", style: 'float: left; width: 60%; display: block'
      %th
        = f.text_field :status_cont, class: "form-control", placeholder: "find", style: 'float: left; width: 60%; display: block'
      %th 
        = f.text_field :service_gtype_cont, class: "form-control", placeholder: "find", style: 'float: left; width: 60%; display: block'
      %th
      %th
      %th
      .actions
        = f.submit "Search", :style => "display: none;"
  %tbody
    - @event_groups.each do |event_group|
      %tr
        %td= event_group.name
        %td= event_group.service
        %td= event_group.attr1
        %td= event_group.attr2
        %td= event_group.attr3
        %td= event_group.status
        %td= event_group.service.gtype
        %td= link_to '', event_group, class: 'btn btn-mini btn-success glyphicon glyphicon-search'
        %td= link_to '', edit_event_group_path(event_group), class: 'btn btn-mini btn-warning glyphicon glyphicon-pencil'
        %td= link_to '', event_group, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger glyphicon glyphicon-trash'
%br

