- set_var 'events', @events.map{|e| {title: e.room.office.name  + " " + e.room.name + " " + e.user.email, start: e.starts_at, end: e.ends_at, url: edit_event_path(e)}}

%p.h1
  Group id:
  = @event_group.name

.col-sm-4
  %p#notice= notice

  %p
    %b Status:
    = @event_group.status
  %p
    %b Service:
    = @event_group.service
  %p
    %b Attr1:
    = @event_group.attr1
  %p
    %b Attr2:
    = @event_group.attr2
  %p
    %b Attr3:
    = @event_group.attr3

  = link_to 'Edit / Add events', edit_event_group_path(@event_group), class: "btn btn-warning"
  \|
  = link_to 'Back to groups', event_groups_path, class: "btn btn-default"
.col-sm-8
  %div#calendar

%h1 All events

%table
  %thead
    %tr
      %th Starts at
      %th Duration
      %th Room
      %th User
      %th Event group
      %th Ends at
      %th
      %th
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= event.starts_at
        %td= event.event_group.service.event_length
        %td= event.room
        %td= event.user
        %td= event.event_group
        %td= event.ends_at
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - event.attendances.each do |attendance|
          %tr.bg-primary
            %td= attendance.guest
            %td= attendance.attendance_rate
%br
