%p#notice= notice

%p
  %b Name:
  = @event_group.name
%p
  %b Status:
  = @event_group.status
%p
  %b Service:
  = @event_group.service_id
%p
  %b Attr1:
  = @event_group.attr1
%p
  %b Attr2:
  = @event_group.attr2
%p
  %b Attr3:
  = @event_group.attr3

= link_to 'Add events', edit_event_group_path(@event_group), class: "btn btn-info"
\|
= link_to 'Back', event_groups_path, class: "btn btn-default"

%h1 Listing events

%table
  %thead
    %tr
      %th Starts at
      %th Duration
      %th Room
      %th User
      %th Event group
      %th Ends at
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.starts_at
        %td= event.duration
        %td= event.room
        %td= event.user
        %td= event.event_group
        %td= event.ends_at
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
