%p#notice= notice

%p
  %b Name:
  = @event_group.name
%p
  %b Status:
  = @event_group.status
%p
  %b Service:
  = @event_group.service_id
%p
  %b Attr1:
  = @event_group.attr1
%p
  %b Attr2:
  = @event_group.attr2
%p
  %b Attr3:
  = @event_group.attr3

= link_to 'Edit', edit_event_group_path(@event_group)
\|
= link_to 'Back', event_groups_path
