#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %b
          Services:
          = Service.count
    .panel-collapse.collapse.in
      .panel-body
        = link_to 'New Service', new_admin_service_path, class: 'btn btn-xs btn-success'
        %p
        %table#table1
          %thead
            %tr
              %th Total price
              %th Service name
              %th Event quantity
              %th Event length
              %th Uprice
              %th Gprice
              %th Gtype
              %th Ctype
              %th Is active
              %th
              %th
          %tbody
            - @services.each do |service|
              %tr
                %td= service.totalprice
                %td= service.service_name
                %td= service.event_quantity
                %td= service.event_length
                %td= service.uprice
                %td= service.gprice
                %td= service.gtype
                %td= service.ctype
                %td= service.is_active
                %td= link_to '', edit_admin_service_path(service), class: 'btn2edit'
                %td
                  - if service.event_groups.present?
                    = link_to '', [:admin, service], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del disabled'
                  - else
                    = link_to '', [:admin, service], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del'

%br

