= simple_form_for(@profile) do |f|
  = f.error_notification

  .form-inputs

    = f.association :user

    = f.input :first_name

    = f.input :second_name

    = f.input :last_name

    = f.input :birthday

    = f.input :sex

    = f.input :email

    = f.input :photo

    = f.input :address

    = f.input :lead_source


  .form-actions
    = f.button :submit
