= simple_form_for([:admin, @sale]) do |f|
  = f.error_notification
  .form-inputs
    /= f.association :service
    /= f.input :event_group_id, collection: @services, as: :grouped_select, group_method: :event_groups
    = f.label :event_group_id, label: 'Event Group'
    = f.select :event_group_id, EventGroup.all.map{|c| [c, c.id]}, {},class: 'selectize'
    = f.label :user_id, label: 'Responsible user'
    = f.select :user_id, User.all.map{|c| [c, c.id]}, {},class: 'selectize'
    = f.label :user_id, label: 'Client'
    = f.select :guest_id, Guest.all.map{|c| [c, c.id]}, {},class: 'selectize'
  .form-actions
  %br
    = f.button :submit, class: 'btn btn-info btn-block'
