= simple_form_for [:user, @event] do |f|
  = f.error_notification
  = f.button :submit, class: "btn btn-info   add-button"
  %p
  .well
    .form-inline.clearfix
      .col-sm-7
        .form-inputs
          = f.input :starts_at, :minute_step => 15, label: false
          = f.association :room
          = f.input :event_group_id, input_html: {value: @event.event_group_id || params[:event_group_id]}, as: :hidden
      .col-sm-5
        = f.select :user_id, User.all.map{|c| [c, c.id]}, {},class: 'selectize'
    #tasks
      %h4.container.p Attendances
      = f.simple_fields_for :attendances do |attendance|
        = render 'attendance_fields', f: attendance
      .links
        %p
        = link_to_add_association 'Add attendance', f, :attendances, class: "btn btn-info add-button"
