= simple_form_for(@office) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :email
    = f.input :phone
    = f.association :company

  .form-actions
    = f.button :submit
