= simple_form_for(@guest) do |f|
  = f.error_notification
  = f.button :submit, class: "btn btn-info add-button"
  %p
    .form-inputs
      = f.input :email
      = f.input :password
      = f.input :password_confirmation