%h1 Listing clients

%table#table1
  %thead
    %tr
      %th Email
      %th Id
      %th
      %th
      %th

  %tbody
    - @guests.each do |guest|
      %tr
        %td= guest.email
        %td= guest.id
        %td= link_to 'Show', guest
        %td= link_to 'Edit', edit_guest_registration_path(guest)
        %td= link_to 'Destroy', guest, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
.bg-danger
  = link_to 'New Client', new_guest_path

