%h1 Listing clients

%table#table1
  %thead
    %tr
      %th Email
      %th Id
      %th New payment
      %th
      %th
      %th
      %th

  %tbody
    - @guests.each do |guest|
      %tr
        %td= guest.email
        %td= guest.id
        %td= link_to 'Pay', guest, class: 'btn1search'
        %td= link_to '', guest, class: 'btn1search'
        %td= link_to 'Edit', edit_guest_path(guest), class: 'btn2edit'
        %td= link_to 'Edit devise', edit_guest_registration_path(guest), class: 'btn2edit'
        %td= link_to '', guest, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del'

%br
.bg-danger
  = link_to 'New Client', new_guest_path

