= simple_form_for([:admin, @room]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :office
    =#= f.input :office_id, input_html: {value: @room.office_id || params[:office_id]}, as: :hidden

  .form-actions
    = f.button :submit, class: 'btn btn-info'
