%h1
  Room quantity:
  = Room.count
%h1 Listing rooms

%table
  %thead
    %tr
      %th Name
      %th Office
      %th
      %th
      %th

  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.name
        %td= room.office
        %td= link_to 'Show', [:admin, room]
        %td= link_to 'Edit', edit_admin_room_path(room)
        %td= link_to 'Destroy', [:admin, room], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Room', new_admin_room_path
