= simple_form_for([:admin, @company]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :email
    = f.input :phone
    = f.input :website
    = f.input :logo

  .form-actions
    = f.button :submit, class: 'btn btn-info'
