%h1 Listing companies

%table
  %thead
    %tr
      %th Name
      %th Address
      %th Email
      %th Phone
      %th Website
      %th Logo
      %th
      %th
      %th

  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.address
        %td= company.email
        %td= company.phone
        %td= company.website
        %td= company.logo
        %td= link_to 'Show', [:admin, company]
        %td= link_to 'Edit', edit_admin_company_path(company)
        %td= link_to 'Destroy', [:admin, company], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company', new_admin_company_path
