= simple_form_for (@user) do |f|
  = f.error_notification
  = f.button :submit, class: "btn btn-info add-button"
  %p
    .form-inputs
      = f.input :email
      .bg-danger
        = f.input :password, label: 'Change current password'
      = f.input :first_name
      = f.input :second_name
      = f.input :last_name
      = f.input :birthday, :start_year => Time.now.year - 80, :end_year => Time.now.year - 4
      = f.input :sex, collection: [ "M", "F" ], selected: "F"
      = f.input :address
      = f.input :photo
      = f.input :active
