%p
#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %b All users
    .panel-collapse.collapse.in
      .panel-body
        = link_to 'New Client', new_user_path, class: "btn btn-success add-button "
        %p
        %table#table1
          %thead
            %tr
              %th Email
              %th Id
              %th
              %th
              %th

          %tbody
            - @users.each do |user|
              %tr
                %td= user.email
                %td= user.id
                %td= link_to '', user, class: 'btn1search'
                %td= link_to '', edit_user_path(user), class: 'btn2edit'
                %td= link_to '', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del'
%br
