#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %b 
          Service types:
          = ServiceName.count(:id)
    .panel-collapse.collapse.in
      .panel-body
        = link_to 'New service type', new_admin_service_name_path, class: 'btn btn-xs btn-success'
        %p
        %table#table1
          %thead
            %tr
              %th Service type
              %th
              %th
          %tbody
            - @service_names.each do |service_name|
              %tr
                %td= service_name.name
                %td= link_to '', edit_admin_service_name_path(service_name), class: 'btn2edit'
                %td
                  - if service_name.services.present?
                    = link_to '', [:admin, service_name], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del disabled'
                  - else
                    = link_to '', [:admin, service_name], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del'
%br

