= simple_form_for([:admin, @cash_collection]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :amount
    = f.association :office
    = f.association :admin

  .form-actions
    = f.button :submit, class: "btn btn-info add-button"
