= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs

    = f.input :starts_at

    = f.input :duration, collection: [45, 60, 75, 90, 105, 120], selected: 60

    = f.association :room

    = f.association :user

    = f.input :event_group_id


  .form-actions
    = f.button :submit
