
= simple_form_for @event do |f|
  .form-actions.pull-right
    = f.button :submit, class: "btn btn-success add-button"
  .col-md-6
    .form-inputs
      = f.error_notification
      = f.input :starts_at, :minute_step => 15
      = f.input :duration, collection: [45, 60, 75, 90, 105, 120], selected: 60
      = f.association :room
      = f.association :user
      = f.association :event_group
  .col-md-6
    %h3 Attendances
    #tasks
      = f.simple_fields_for :attendances do |attendance|
        = render 'attendance_fields', f: attendance
      .links
        %p
        = link_to_add_association 'Add attendance', f, :attendances, class: "btn btn-primary add-button"
