%h1 Listing events

%table
  %thead
    %tr
      %th Starts at
      %th Duration
      %th Room
      %th User
      %th Event group
      %th Ends at
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.starts_at
        %td= event.event_group.service.event_length
        %td= event.room
        %td= event.user
        %td= event.event_group
        %td= event.ends_at
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
