%p#notice= notice

%p
  %b Guest:
  = @payment.enrollment.guest
%p
  %b enrollment:
  = @payment.enrollment
%p
  %b Amount:
  = @payment.amount
%p
  %b Office:
  = @payment.office

= link_to 'Edit', edit_admin_payment_path(@payment)
\|
= link_to 'Back', admin_payments_path
