= simple_form_for([:admin, @opportunity]) do |f|
  = f.error_notification
  .form-inputs
    = f.association :service
    /not simple form style
    /= f.grouped_collection_select :event_group_id, Service.order(:id), :event_groups, :name, :id, :name, include_blank: true
    /simple form style
    = f.input :event_group_id, collection: @services, as: :grouped_select, group_method: :event_groups
    = f.association :user
    = f.association :guest
    = f.input :coupon
    = f.input :opp_status
  .form-actions
    = f.button :submit
