%h1 Listing opportunities

%table#table1
  %thead
    %tr
      %th Service
      %th Event group
      %th Client
      %th Responsible user
      %th Coupon
      %th Opp status
      %th
      %th
      %th

  %tbody
    - @opportunities.each do |opportunity|
      %tr
        %td= opportunity.service
        %td= opportunity.event_group
        %td= opportunity.guest
        %td= opportunity.user
        %td= opportunity.coupon
        %td= opportunity.opp_status
        %td= link_to 'Show', [:admin, opportunity]
        %td= link_to 'Edit', edit_admin_opportunity_path(opportunity)
        %td= link_to 'Destroy', [:admin, opportunity], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Opportunity', new_admin_opportunity_path
