%p#notice= notice

%p
  %b Service:
  = @opportunity.service
%p
  %b Event group:
  = @opportunity.event_group
%p
  %b User:
  = @opportunity.guest
%p
  %b User:
  = @opportunity.user
%p
  %b Coupon:
  = @opportunity.coupon
%p
  %b Opp status:
  = @opportunity.opp_status

= link_to 'Edit', edit_admin_opportunity_path(@opportunity)
\|
= link_to 'Back', admin_opportunities_path
