#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %b
          Offices:
          = Office.count(:id)
    .panel-collapse.collapse.in
      .panel-body
        = link_to 'New Office', new_admin_office_path, class: 'btn btn-xs btn-success'
        %p
        %table#table1
          %thead
            %tr
              %th Name
              %th Address
              %th Email
              %th Phone
              %th Company
              %th Total $ received
              %th Total $ collected
              %th Total $ in office
              %th
              %th
              %th
          %tbody
            - @offices.each do |office|
              %tr
                %td= office.name
                %td= office.address
                %td= office.email
                %td= office.phone
                %td= office.company
                %td= office.cash_collections.sum(:amount)
                %td
                %td
                %td= link_to '', [:admin, office], class: 'btn1search'
                %td= link_to '', edit_admin_office_path(office), class: 'btn2edit'
                %td
                  - if office.rooms.present?
                    = link_to '', [:admin, office], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del disabled'
                  - else
                    = link_to '', [:admin, office], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del'
%br

