- set_var 'events', @events.map{|e| {title: e.room.office.name  + " " + e.room.name + " " + e.user.email, start: e.starts_at, end: e.ends_at, url: edit_admin_event_path(e)}}
.col-md-4
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"}
            %b Office info
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          .text-center
            = link_to '', edit_admin_office_path(@office), class: 'btn2b'
            = link_to 'All offices', admin_offices_path, class: "btn btn-default"
            = link_to 'Show company', admin_company_path(@office.company), class: "btn btn-default"
          %p.h4
            %b Name:
            = @office.name
          %p
            %b Address:
            = @office.address
          %p
            %b Email:
            = @office.email
          %p
            %b Phone:
            = @office.phone
          %p
            %b Company:
            = @office.company
          %p
            %b Total $ received:
            = @officereceived
.col-sm-8
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse3"}
            %b Office rooms
      #collapse3.panel-collapse.collapse.in
        .panel-body
          .text-center
            = link_to 'Add a room', new_admin_room_path, class: 'btn btn-success'
            %p
          - if @office.rooms.any?
            %table#table1
              %thead
                %tr
                  %th Name
                  %th
                  %th
                  %th
              %tbody
                - @rooms.each do |room|
                  %tr
                    %td= room.name
                    %td= link_to '', [:admin, room], class: 'btn1search'
                    %td= link_to '', edit_admin_room_path(room), class: 'btn2edit'
                    %td
                      - if room.events.present?
                        = link_to '', [:admin, room], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del disabled'
                      - else
                        = link_to '', [:admin, room], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn3del'

  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseTwo"}
            %b Office calendar
      #collapseTwo.panel-collapse.collapse.in
        .panel-body
          %div#calendar
%br
