%h1 Listing attendance rates

%table#table1
  %thead
    %tr
      %th Id
      %th Name
      %th Rate (Value)
      %th

  %tbody
    - @attendance_rates.each do |attendance_rate|
      %tr
        %td= attendance_rate.id
        %td= attendance_rate.name
        %td= attendance_rate.rate
        %td= link_to 'Destroy', [:admin, attendance_rate], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Attendance rate', new_admin_attendance_rate_path
