%h1 Listing service_names

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @service_names.each do |service_name|
      %tr
        %td= service_name.name
        %td= link_to 'Show', service_name
        %td= link_to 'Edit', edit_service_name_path(service_name)
        %td= link_to 'Destroy', service_name, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Service name', new_service_name_path
