%h1 Listing payments

%table
  %thead
    %tr
      %th Guest
      %th Sale
      %th Amount
      %th Office
      %th
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.guest
        %td= payment.sale
        %td= payment.amount
        %td= payment.office
        %td= link_to 'Show', payment
        %td= link_to 'Edit', edit_payment_path(payment)
        %td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
