= simple_form_for [:user, @guest] do |f|
  = f.error_notification
  .form-inputs
    = f.input :email
    .bg-danger
      = f.input :password, label: 'Change current password'
    = f.input :first_name
    = f.input :second_name
    = f.input :last_name
    = f.input :birthday, :start_year => Time.now.year - 80, :end_year => Time.now.year - 4
    = f.input :contact_1
    = f.input :contact_2
    = f.input :sex, collection: [ "M", "F" ], selected: "F"
    = f.input :address
    = f.input :photo
    = f.input :active
    = f.input :lead_source_id, class: 'inactive'
  .form-actions
    = f.button :submit, class: 'btn btn-info btn-block'
