- set_var 'events', @events.map{|e| {title: e.event_group.name + " " + e.room.office.name  + " " + e.room.name + " " + e.user.to_s, start: e.starts_at, end: e.ends_at, url: admin_event_group_path(e.event_group)}}
%p#notice= notice
.col-md-4
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"}
            %b My info
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          .text-center
            = link_to '', edit_admin_user_path(@user), class: 'btn2b'
            = link_to 'All users', admin_users_path, class: 'btn btn-default'
          %p
            %b Email:
            = @user.email
          %p
            %b First name:
            = @user.first_name
          %p
            %b Second name:
            = @user.second_name
          %p
            %b Last name:
            = @user.last_name
          %p
            %b Bday:
            = @user.birthday
          %p
            %b Sex:
            = @user.sex
          %p
            %b Address:
            = @user.address
          %p
            %b Photo:
            = @user.photo
          %p
            %b Active?:
            = @user.active
          %table#table1
            %thead
              %tr
                %th Total services rendered (past & expected), UAH:
                %th Total income, UAH:
                %th.bg-success Expected income, UAH:
            %tbody
              %tr
                %td= @total_price
                %td= @income
                %td.bg-success= @total_price - @income
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseTwo"}
            %b My income
      #collapseTwo.panel-collapse.collapse.in
        .panel-body
          %table#table1
            %thead
              %tr
                %th Date
                %th Info
                %th Sum
            %tbody
              - @expences.each do |expence|
                %tr
                  %td= expence.created_at
                  %td= expence.description
                  %td= expence.amount
.col-md-8
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseThree"}
            %b My calendar
      #collapseThree.panel-collapse.collapse.in
        .panel-body
          %div#calendar
.row
.col-md-6
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapsepastEvent"}
            %b My past events
      #collapsepastEvent.panel-collapse.collapse.in
        .panel-body
          %h1 
          %table#table1
            %thead
              %tr
                %th Starts at
                %th Duration
                %th Event group
                %th Room
                %th.bg-success Payment
            %tbody
              - @past_events.each do |event|
                %tr
                  %td= event.starts_at
                  %td= event.event_group.service.event_length
                  %td= event.event_group
                  %td= event.room
                  %td.bg-success= event.dueexpence
.col-md-6
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapsefutureEvent"}
            %b My future events
      #collapsefutureEvent.panel-collapse.collapse.in
        .panel-body
          %h1 
          %table#table1
            %thead
              %tr
                %th Starts at
                %th Duration
                %th Event group
                %th Room
                %th.bg-success Payment
            %tbody
              - @future_events.each do |event|
                %tr
                  %td= event.starts_at
                  %td= event.event_group.service.event_length
                  %td= event.event_group
                  %td= event.room
                  %td.bg-success= event.dueexpence
%br
