%h1 Listing expences

%table
  %thead
    %tr
      %th Amount
      %th Description
      %th User
      %th
      %th
      %th

  %tbody
    - @expences.each do |expence|
      %tr
        %td= expence.amount
        %td= expence.description
        %td= expence.user
        %td= link_to 'Show', expence
        %td= link_to 'Edit', edit_expence_path(expence)
        %td= link_to 'Destroy', expence, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Expence', new_expence_path
