%h1 Listing attendances

#myfirstchart{:style => "height: 250px;"}

%table
  %thead
    %tr
      %th Event start
      %th Guest
      %th Service name
      %th Service
      %th uprice
      %th gprice
      %th Event Group
      %th User
      %th Duration
      %th Attendance type
      %th Attendance value
      %th Room
      %th Office
      %th
      %th
      %th

  %tbody
    - @attendances.each do |attendance|
      %tr
        %td= attendance.event.starts_at
        %td= attendance.guest
        %td= attendance.event.event_group.service.service_name.name
        %td= attendance.event.event_group.service
        %td= attendance.event.event_group.service.uprice
        %td= attendance.event.event_group.service.gprice
        %td= attendance.event.event_group.name
        %td= attendance.event.user
        %td= attendance.event.event_group.service.event_length
        %td= attendance.attendance_rate.name
        %td= attendance.attendance_rate.rate
        %td= attendance.event.room
        %td= attendance.event.room.office
        %td= link_to 'Show', attendance
        %td= link_to 'Edit', edit_attendance_path(attendance)
        %td= link_to 'Destroy', attendance, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Attendance', new_attendance_path
