!!!
%html
  %head
    %title Myclass103
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body#body1
    %nav.navbar.navbar-default#navbartransparent
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.glyphicon.glyphicon-home{:href => "/"}
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to 'Myclass103', admin_root_path, class: 'navbar-brand'
            %li#uno= link_to 'Dashboard', admin_root_path
            %li#uno= link_to 'Users', admin_users_path
          %ul.nav.navbar-nav.pull-right
            - if admin_signed_in?
              %li.dropdown
                %a.dropdown-toggle#whitelink{"data-toggle" => "dropdown", :href => "#"}
                  = current_admin.username
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li= link_to 'Profile', edit_admin_registration_path
                  .divider
                  %li= link_to 'Log out', destroy_admin_session_path, method: :delete
            - else
              %li= link_to 'Log In User', new_user_session_path
              %li= link_to 'Log In Admin', new_admin_session_path
              %li= link_to 'Log In Guest', new_guest_session_path
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle#whitelink{"data-toggle" => "dropdown", :href => "#"}
                Clients
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li#uno= link_to '+New client', new_admin_guest_path
                %li#uno= link_to '+All Clients', admin_guests_path
                .divider
                %li#uno= link_to '#All calls', admin_guests_path
                %li#uno= link_to '#My calls', admin_guests_path
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle#whitelink{"data-toggle" => "dropdown", :href => "#"}
                Groups
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li#uno= link_to '+New group', new_admin_event_group_path
                %li#uno= link_to '+All groups', admin_event_groups_path
                .divider
                %li#uno= link_to '#Active groups', admin_event_groups_path
                %li#uno= link_to '#Forming groups', admin_event_groups_path
                %li#uno= link_to '#Finished groups', admin_event_groups_path
                .divider
                %li#uno= link_to '#Group errors', admin_event_groups_path
                %li#uno= link_to '+Mark all attendances', alltasks_admin_attendances_path
                %li#uno= link_to '#Mark my attendances', admin_event_groups_path
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle#whitelink{"data-toggle" => "dropdown", :href => "#"}
                Sales
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li#uno= link_to 'New sale',  new_admin_sale_path
                %li#uno= link_to 'All sales',  admin_sales_path
                .divider
                %li#uno= link_to 'My sales',  root_path
                %li#uno= link_to 'Current sales',  root_path
                .divider
                %li#uno= link_to 'Past sales',  root_path
                .divider
                %li#uno= link_to 'Stats',  root_path
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle#whitelink{"data-toggle" => "dropdown", :href => "#"}
                Payments
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li#uno= link_to 'New payment',  root_path
                %li#uno= link_to 'All payments',  root_path
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle#whitelink{"data-toggle" => "dropdown", :href => "#"}
                Cash
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li#uno= link_to 'Collect cash', admin_cash_collections_path
                %li#uno= link_to 'Pay expences', admin_expences_path
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle#whitelink{"data-toggle" => "dropdown", :href => "#"}
                Reports
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li#uno= link_to 'Stats',  admin_dashboard_stats_path
                %li#uno= link_to 'Events report',  admin_events_path
                %li#uno= link_to 'Attendances report', admin_attendances_path
          %ul.nav.navbar-nav.pull-right
            %li.dropdown
              %a.dropdown-toggle#whitelink{"data-toggle" => "dropdown", :href => "#"}
                Settings
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li= link_to 'Services', admin_services_path
                %li= link_to 'Service Types', admin_service_names_path
                .divider
                %li= link_to 'Attr1', admin_attr1s_path
                %li= link_to 'Attr2', admin_attr2s_path
                %li= link_to 'Attr3', admin_attr3s_path
                .divider
                %li= link_to 'Companies', admin_companies_path
                %li= link_to 'Offices', admin_offices_path
                %li= link_to 'Rooms', admin_rooms_path
                .divider
                %li= link_to 'Attendance Rates', admin_attendance_rates_path
    .container-fluid
      = render 'layouts/messages'
      = yield
      = rjv_tags