<!DOCTYPE html>
<html>
<head>
  <title>Myclass103</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><%= link_to 'Settings -  Companies', companies_path %></p>
<p><%= link_to 'Settings - Offices', offices_path %></p>
<p><%= link_to 'Settings - Rooms', rooms_path %></p>
<p><%= link_to 'Settings - Service Names', service_names_path %></p>

<%= yield %>

</body>
</html>
