<!DOCTYPE html>
<html>
<head>
  <title>Myclass103</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name= "viewport" content="width=device-width", initial-scale=1.0">
</head>
<body>
 <nav class="navbar navbar-default navbar-fixed-top" id="navbarstart" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display
    -->
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		<a class="navbar-brand glyphicon glyphicon-home" href="/">
    </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling
    -->
    <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<li><%= link_to '#Myclass103', root_path, class: 'navbar-brand' %></li>
    <li><%= link_to 'Home', dashboard_index_path %></li>
    <li><%= link_to 'About us', about_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to '#UserDashboard',  user_root_path %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'My profile',  user_path(current_human) %></li>
              <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>              
        <% elsif admin_signed_in? %>
          <li><%= link_to '#AdminDashboard',  admin_root_path %></li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= current_admin.email %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Edit Profile', edit_admin_registration_path %></li>
              <li><%= link_to 'Log out', destroy_admin_session_path, method: :delete %></li>
            </ul>
          </li>
        <% elsif guest_signed_in? %>
          <li><%= link_to '#GuestDashboard',  guest_root_path %></li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= current_guest.username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'My profile',  guest_path(current_human) %></li>
              <li><%= link_to 'Edit Profile', edit_guest_registration_path %></li>
              <li><%= link_to 'Log out', destroy_guest_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Log In User', new_user_session_path %></li>
          <li><%= link_to 'Log In Admin', new_admin_session_path %></li>
          <li><%= link_to 'Log In Guest', new_guest_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<%= yield %>
  <%== rjv_tags %>
  <%= debug(params) if Rails.env.development? %>

</body>
</html>
